# Dependências
node_modules/
.pnp
.pnp.js

# Next.js build e output
.next/
out/
build/

# Variáveis de Ambiente (CRUCIAL: Nunca envie estes arquivos)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema (macOS / Windows)
.DS_Store
Thumbs.db
*.swp

# IDEs (VS Code, JetBrains)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vercel
.vercel